
.header{
    height: 45px;
    background-color: #f5f6f5;
    padding: 0 10px;
}


.searchHeader{
    position: relative;
    top: 0;
    padding: 0;
}


.header :global(.icon-back){
    font-size: 16px !important;
    color: #999;
}
.searchHeader :global(.icon-map){
    color: #00ae66;
}
.searchHeader :global(.seacher){
    height: 30px;
}


.loading {
    line-height: 120px;
    text-align: center;
    height: 110px;
    background-color: #f6f5f6;
  }